<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <h3>Liste des utilisateurs</h3>
      <button class="btn btn-danger" routerLink="/dashboard/add-user">Ajouter +</button>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
      <app-serch-section  (searchChanged)="onSearchTextChange($event)"></app-serch-section>
        <!-- Section de filtre -->
    <div class="ms-3">
      <select class="form-select" aria-label="Filter" 
      [(ngModel)]="filterCriteria" (ngModelChange)="onFilterChange($event)">
        <option value="">Filtrer par</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
        <!-- Ajoute d'autres groupes sanguins si nécessaire -->
    </select>
  </div>
  </div>
  <div>
      <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">ID</th> -->
              <th scope="col">Prenom</th>
              <th scope="col">Nom</th>
              <th scope="col">Telephone</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Groupe Sanguin</th>
              <th scope="col">Localisation</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let utilisateur of utilisateurs |filter: searchText:filterCriteria">
              <!-- <th scope="row">{{ utilisateur.id }}</th> -->
              <td>{{ utilisateur.prenom }}</td>
              <td>{{ utilisateur.nom }}</td>
              <td>{{ utilisateur.telephone }}</td>
              <td>{{ utilisateur.email }}</td>
              <td>{{ utilisateur.role }}</td>
              <td>{{ utilisateur.groupeSanguin }}</td>
              <td>{{ utilisateur.localisation }}</td>
              <td>
                  <button class="btn btn-outline-primary me-2" [routerLink]="['/dashboard/edit-user', utilisateur.id]"><i class="bi bi-pencil"></i></button>
                  <button class="btn btn-outline-danger" (click)="deleteUtilisateur(utilisateur.id)"><i class="bi bi-trash3"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
