<div class="container">
  <div class="modal-header">
    <h5 class="modal-title">Notifications</h5>
    <button type="button" class="close" (click)="close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let notif of notification">
        <h6>{{ notif.title }}</h6>
        <p>{{ notif.body }}</p>
        <p *ngIf="notif.bloodGroup">Groupe sanguin : {{ notif.bloodGroup }}</p>
        <p *ngIf="notif.quantity">Quantité : {{ notif.quantity }} poche(s)</p>
        <p>Date : {{ notif.timestamp?.toDate() | date:'short' }}</p>
      </li>
    </ul>
  </div>
</div>
