<div class="container">
    <h2>Formulaire de Don</h2>
    <form [formGroup]="donForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="centre">Centre de Don:</label>
        <select id="centre" formControlName="centre" class="form-control" required>
          <option value="">Sélectionnez un centre</option>
          <option *ngFor="let centre of centre" [value]="centre.id">{{ centre.nom }}</option>
        </select>
        <div *ngIf="donForm.get('centre')?.invalid && (donForm.get('centre')?.touched || donForm.get('centre')?.dirty)">
          <small class="text-danger">Le centre est requis.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="groupeSanguin">Groupe Sanguin:</label>
        <select id="groupeSanguin" formControlName="groupeSanguin" class="form-control" required>
          <option value="">Sélectionnez un groupe sanguin</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
        <div *ngIf="donForm.get('groupeSanguin')?.invalid && (donForm.get('groupeSanguin')?.touched || donForm.get('groupeSanguin')?.dirty)">
          <small class="text-danger">Le groupe sanguin est requis.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="quantite">Quantité (en poche de sang):</label>
        <input type="number" id="quantite" formControlName="quantite" class="form-control" required>
        <div *ngIf="donForm.get('quantite')?.invalid && (donForm.get('quantite')?.touched || donForm.get('quantite')?.dirty)">
          <small class="text-danger">La quantité est requise.</small>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
  </div>
  