<div class="container">
     <h3>Home</h3>
     <div class="d-flex align-items-center">
        <div class="items ms-3"> 
            <p>Total des utilisateurs</p>
            <div class="d-flex justify-content-between align-items-center">
                <p><strong>50</strong></p>
                <div class="positif-div">
                    <p class="positif"><i class="bi bi-arrow-up"></i> 20%</p>
                </div>
            </div>
        </div>
        <div class="items ms-3"> 
            <p>Donneurs</p>
            <div class="d-flex justify-content-between align-items-center">
                <p><strong>10</strong></p>
                <div class="positif-div">
                    <p class="positif"><i class="bi bi-arrow-up"></i> 25%</p>
                </div>
            </div>
        </div>
        <div class="items ms-3"> 
            <p>Patients</p>
            <div class="d-flex justify-content-between align-items-center">
                <p><strong>15</strong></p>
                <div class="positif-div">
                    <p class="positif"><i class="bi bi-arrow-up"></i> 20%</p>
                </div>
            </div>
        </div>
        <div class="items ms-3"> 
            <p>Total des demandes</p>
            <div class="d-flex justify-content-between align-items-center">
                <p><strong>60</strong></p>
                <div class="negatif-div">
                    <p class="positif"><i class="bi bi-arrow-down"></i> -5%</p>
                </div>
            </div>
        </div>
     </div>
<div class="container">
   <app-stats></app-stats>
</div>

</div>